@model DateViewModel

@{
    const string govukFormGroupErrorClass = "govuk-form-group--error";
    const string govukInputErrorClass = "govuk-input--error";
    var showErrorClass = string.Empty;
    var errorFieldClass = new Dictionary<string, string>
{
        { Html.NameFor(model => model), string.Empty },
        { Html.NameFor(model => model.Day), string.Empty },
        { Html.NameFor(model => model.Month), string.Empty },
        { Html.NameFor(model => model.Year), string.Empty },
        { Html.NameFor(model => model.Hour), string.Empty },
        { Html.NameFor(model => model.Minute), string.Empty },
    };

    foreach (var errorKey in errorFieldClass.Keys.ToList())
    {
        if (ViewData.ModelState.Keys.Contains(errorKey))
        {
            if (ViewData.ModelState[errorKey] != null && ViewData.ModelState[errorKey].Errors.Any())
            {
                errorFieldClass[errorKey] = govukInputErrorClass;
                showErrorClass = govukFormGroupErrorClass;
            }
        }

    }
}

<div class="govuk-form-group @showErrorClass">
    <h2 class="govuk-heading-l">
        @Html.DisplayNameFor(model => model)
    </h2>

    @Html.ValidationMessageFor(model => model, string.Empty, new { @class = "govuk-error-message", @id = Html.NameFor(model => model) + "-error" })
    @Html.ValidationMessageFor(model => model.Day, string.Empty, new { @class = "govuk-error-message", @id = Html.NameFor(model => model.Day) + "-error" })
    @Html.ValidationMessageFor(model => model.Month, string.Empty, new { @class = "govuk-error-message", @id = Html.NameFor(model => model.Month) + "-error" })
    @Html.ValidationMessageFor(model => model.Year, string.Empty, new { @class = "govuk-error-message", @id = Html.NameFor(model => model.Year) + "-error" })
    @Html.ValidationMessageFor(model => model.Hour, string.Empty, new { @class = "govuk-error-message", @id = Html.NameFor(model => model.Hour) + "-error" })
    @Html.ValidationMessageFor(model => model.Minute, string.Empty, new { @class = "govuk-error-message", @id = Html.NameFor(model => model.Minute) + "-error" })

    <div class="govuk-date-input" id="@Html.NameFor(model => model)">
        <div class="govuk-date-input__item">
            @Html.LabelFor(model => model.Day, new { @class = "govuk-label govuk-date-input__label" })
            @Html.TextBoxFor(model => model.Day, new
            {
                @class = "govuk-input govuk-date-input__input govuk-input--width-2 " + errorFieldClass[Html.NameFor(model => model)] + " " + errorFieldClass[Html.NameFor(model => model.Day)],
                autocomplete = "off",
                type = "text",
                pattern = "[0-9]*",
                inputmode = "numeric"
            })
        </div>
        <div class="govuk-date-input__item">
            @Html.LabelFor(model => model.Month, new { @class = "govuk-label govuk-date-input__label" })
            @Html.TextBoxFor(model => model.Month, new
            {
                @class = "govuk-input govuk-date-input__input govuk-input--width-2 " + errorFieldClass[Html.NameFor(model => model)] + " " + errorFieldClass[Html.NameFor(model => model.Month)],
                autocomplete = "off",
                type = "text",
                pattern = "[0-9]*",
                inputmode = "numeric"
            })
        </div>
        <div class="govuk-date-input__item">
            @Html.LabelFor(model => model.Year, new { @class = "govuk-label govuk-date-input__label" })
            @Html.TextBoxFor(model => model.Year, new
            {
                @class = "govuk-input govuk-date-input__input govuk-input--width-4 " + errorFieldClass[Html.NameFor(model => model)] + " " + errorFieldClass[Html.NameFor(model => model.Year)],
                autocomplete = "off",
                type = "text",
                pattern = "[0-9]*",
                inputmode = "numeric"
            })
        </div>
        <div class="govuk-date-input__item">
            @Html.LabelFor(model => model.Hour, new { @class = "govuk-label govuk-date-input__label" })
            @Html.TextBoxFor(model => model.Hour, new
            {
                @class = "govuk-input govuk-date-input__input govuk-input--width-2 " + errorFieldClass[Html.NameFor(model => model)] + " " + errorFieldClass[Html.NameFor(model => model.Hour)],
                autocomplete = "off",
                type = "text",
                pattern = "[0-9]*",
                inputmode = "numeric"
            })
        </div>
        <div class="govuk-date-input__item">
            @Html.LabelFor(model => model.Minute, new { @class = "govuk-label govuk-date-input__label" })
            @Html.TextBoxFor(model => model.Minute, new
            {
                @class = "govuk-input govuk-date-input__input govuk-input--width-2 " + errorFieldClass[Html.NameFor(model => model)] + " " + errorFieldClass[Html.NameFor(model => model.Minute)],
                autocomplete = "off",
                type = "text",
                pattern = "[0-9]*",
                inputmode = "numeric"
            })
        </div>
    </div>
</div>