@model CallbackDateOption?

@{
    var dateLabels = EnterYourDetailsBodyViewModel.DateLabels;
    var showErrorClass = string.Empty;
    var errorKey = nameof(EnterYourDetailsBodyViewModel.CallbackDateOptionSelected);

    if (ViewData.ModelState.Keys.Contains(errorKey))
    {
        if (ViewData.ModelState[errorKey] != null && ViewData.ModelState[errorKey].Errors.Any())
        {
            showErrorClass = "govuk-form-group--error";
        }
    }
}

<div class="govuk-form-group @showErrorClass">
    <fieldset class="govuk-fieldset" aria-describedby="@nameof(EnterYourDetailsBodyViewModel.CallbackDateOptionSelected)-error">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h3 class="govuk-fieldset__heading">
                @Html.DisplayNameFor(model => model)
            </h3>
        </legend>

        @Html.ValidationMessageFor(model => model, string.Empty, new { @class = "govuk-error-message", @id = nameof(EnterYourDetailsBodyViewModel.CallbackDateOptionSelected) + "-error" })

        <div class="govuk-radios">
            @foreach (var option in (CallbackDateOption[])Enum.GetValues(typeof(CallbackDateOption)))
            {
                var radioId = option == CallbackDateOption.Today ? nameof(EnterYourDetailsBodyViewModel.CallbackDateOptionSelected) : $"{option}-option";

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="@nameof(EnterYourDetailsBodyViewModel.CallbackDateOptionSelected)" id="@radioId" type="radio" value="@option" data-val="true" data-val-required="@EnterYourDetailsBodyViewModel.CallbackDateOptionValidationError">
                    <label class="govuk-label govuk-radios__label" for="@radioId">@dateLabels[option]</label>
                </div>
            }
        </div>
    </fieldset>
</div>
