@model EnterYourDetailsBodyViewModel

@{
    const string govukFormGroupErrorClass = "govuk-form-group--error";
    const string govukInputErrorClass = "govuk-input--error";
    var showErrorClass = string.Empty;
    var showErrorClassForDayInput = string.Empty;
    var showErrorClassForMonthInput = string.Empty;
    var showErrorClassForYearInput = string.Empty;
    var showErrorClassForHourInput = string.Empty;
    var showErrorClassForMinuteInput = string.Empty;
    var nameFieldForDay = Html.NameFor(model => model.CallbackDateTime!.Day);
    var nameFieldForMonth = Html.NameFor(model => model.CallbackDateTime!.Month);
    var nameFieldForYear = Html.NameFor(model => model.CallbackDateTime!.Year);
    var nameFieldForHour = Html.NameFor(model => model.CallbackDateTime!.Hour);
    var nameFieldForMinute = Html.NameFor(model => model.CallbackDateTime!.Minute);
    var errorKeys = new[] { Html.NameFor(model => model.CallbackDateTime), nameFieldForDay, nameFieldForMonth, nameFieldForYear, nameFieldForHour, nameFieldForMinute, };

    foreach (var errorKey in errorKeys)
    {
        if (ViewData.ModelState.Keys.Contains(errorKey))
        {
            if (ViewData.ModelState[errorKey] != null && ViewData.ModelState[errorKey].Errors.Any())
            {
                if (errorKey.Equals(nameFieldForDay, StringComparison.OrdinalIgnoreCase))
                {
                    showErrorClassForDayInput = govukInputErrorClass;
                    showErrorClass = govukFormGroupErrorClass;
                }
                else if (errorKey.Equals(nameFieldForMonth, StringComparison.OrdinalIgnoreCase))
                {
                    showErrorClassForMonthInput = govukInputErrorClass;
                    showErrorClass = govukFormGroupErrorClass;
                }
                else if (errorKey.Equals(nameFieldForYear, StringComparison.OrdinalIgnoreCase))
                {
                    showErrorClassForYearInput = govukInputErrorClass;
                    showErrorClass = govukFormGroupErrorClass;
                }
                else if (errorKey.Equals(nameFieldForHour, StringComparison.OrdinalIgnoreCase))
                {
                    showErrorClassForHourInput = govukInputErrorClass;
                    showErrorClass = govukFormGroupErrorClass;
                }
                else if (errorKey.Equals(nameFieldForMinute, StringComparison.OrdinalIgnoreCase))
                {
                    showErrorClassForMinuteInput = govukInputErrorClass;
                    showErrorClass = govukFormGroupErrorClass;
                }
                else
                {
                    showErrorClassForDayInput = govukInputErrorClass;
                    showErrorClassForMonthInput = govukInputErrorClass;
                    showErrorClassForYearInput = govukInputErrorClass;
                    showErrorClassForHourInput = govukInputErrorClass;
                    showErrorClassForMinuteInput = govukInputErrorClass;
                    showErrorClass = govukFormGroupErrorClass;
                }
            }
        }
    }
}

<div class="govuk-form-group @showErrorClass">
    <h2 class="govuk-heading-l">
        @Html.DisplayNameFor(model => model.CallbackDateTime)
    </h2>

    @Html.ValidationMessageFor(model => model.CallbackDateTime, string.Empty, new { @class = "govuk-error-message", @id = Html.NameFor(model => model.CallbackDateTime) + "-error" })
    @Html.ValidationMessageFor(model => model.CallbackDateTime!.Day, string.Empty, new { @class = "govuk-error-message", @id = Html.NameFor(model => model.CallbackDateTime!.Day) + "-error" })
    @Html.ValidationMessageFor(model => model.CallbackDateTime!.Month, string.Empty, new { @class = "govuk-error-message", @id = Html.NameFor(model => model.CallbackDateTime!.Month) + "-error" })
    @Html.ValidationMessageFor(model => model.CallbackDateTime!.Year, string.Empty, new { @class = "govuk-error-message", @id = Html.NameFor(model => model.CallbackDateTime!.Year) + "-error" })
    @Html.ValidationMessageFor(model => model.CallbackDateTime!.Hour, string.Empty, new { @class = "govuk-error-message", @id = Html.NameFor(model => model.CallbackDateTime!.Hour) + "-error" })
    @Html.ValidationMessageFor(model => model.CallbackDateTime!.Minute, string.Empty, new { @class = "govuk-error-message", @id = Html.NameFor(model => model.CallbackDateTime!.Minute) + "-error" })

    <div class="govuk-date-input" id="@Html.NameFor(model => model.CallbackDateTime)">
        <div class="govuk-date-input__item">
            @Html.LabelFor(model => model.CallbackDateTime!.Day, new { @class = "govuk-label govuk-date-input__label" })
            @Html.TextBoxFor(model => model.CallbackDateTime!.Day, new
            {
                @class = "govuk-input govuk-date-input__input govuk-input--width-2 " + showErrorClassForDayInput,
                autocomplete = "off",
                type = "text",
                pattern = "[0-9]*",
                inputmode = "numeric"
            })
        </div>
        <div class="govuk-date-input__item">
            @Html.LabelFor(model => model.CallbackDateTime!.Month, new { @class = "govuk-label govuk-date-input__label" })
            @Html.TextBoxFor(model => model.CallbackDateTime!.Month, new
            {
                @class = "govuk-input govuk-date-input__input govuk-input--width-2 " + showErrorClassForMonthInput,
                autocomplete = "off",
                type = "text",
                pattern = "[0-9]*",
                inputmode = "numeric"
            })
        </div>
        <div class="govuk-date-input__item">
            @Html.LabelFor(model => model.CallbackDateTime!.Year, new { @class = "govuk-label govuk-date-input__label" })
            @Html.TextBoxFor(model => model.CallbackDateTime!.Year, new
            {
                @class = "govuk-input govuk-date-input__input govuk-input--width-4 " + showErrorClassForYearInput,
                autocomplete = "off",
                type = "text",
                pattern = "[0-9]*",
                inputmode = "numeric"
            })
        </div>
        <div class="govuk-date-input__item">
            @Html.LabelFor(model => model.CallbackDateTime!.Hour, new { @class = "govuk-label govuk-date-input__label" })
            @Html.TextBoxFor(model => model.CallbackDateTime!.Hour, new
            {
                @class = "govuk-input govuk-date-input__input govuk-input--width-2 " + showErrorClassForHourInput,
                autocomplete = "off",
                type = "text",
                pattern = "[0-9]*",
                inputmode = "numeric"
            })
        </div>
        <div class="govuk-date-input__item">
            @Html.LabelFor(model => model.CallbackDateTime!.Minute, new { @class = "govuk-label govuk-date-input__label" })
            @Html.TextBoxFor(model => model.CallbackDateTime!.Minute, new
            {
                @class = "govuk-input govuk-date-input__input govuk-input--width-2 " + showErrorClassForMinuteInput,
                autocomplete = "off",
                type = "text",
                pattern = "[0-9]*",
                inputmode = "numeric"
            })
        </div>
    </div>
</div>