@model EnterYourDetailsBodyViewModel

<div class="govuk-form-group">
    <partial name="_AppErrorSummary" />

    <fieldset class="govuk-fieldset" aria-describedby="form-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Enter your details</h1>
        </legend>
        <p class="govuk-body">
            We need your details so that one of our advisers can contact you.
        </p>
        <p class="govuk-body">
            Our advisers will use your date of birth and postcode to give you information that's relevant to you, for example on courses and funding.
        </p>
        @Html.EditorFor(model => model.FirstName)
        @Html.EditorFor(model => model.FamilyName)
        @Html.EditorFor(model => model.EmailAddress)
        @Html.EditorFor(model => model.TelephoneNumber)
        @Html.EditorFor(model => model.DateOfBirth, new
        {
            ErrorMessageFieldName = "Your date of birth",
            minDate = "1900-01-01",
            maxDate = DateTime.Today.AddYears(-13).ToString("yyyy-MM-dd"),
            dateRangeError = "You must be over 13 to use this service"
        })
        @Html.EditorFor(model => model.Postcode)

        @if (Model.CallbackDateTimeIsRequired)
        {
            @Html.EditorFor(model => model.CallbackDateTime, new
            {
                ErrorMessageFieldName = "The callback date and time",
                minDate = DateTime.Today.ToString("yyyy-MM-dd"),
                maxDate = DateTime.Today.AddMonths(3).ToString("yyyy-MM-dd"),
                dateRangeError = "The callback date and time must be within 3 months",
                ShowLabelAsHeader = "yes"
            })
        }

        @Html.EditorFor(model => model.TermsAndConditionsAccepted, new
        {
            Label = EnterYourDetailsBodyViewModel.TermsAndConditionsLabel,
            ErrorMessage = EnterYourDetailsBodyViewModel.TermsAndConditionsValidationError,
            CompareTo = $"*.{nameof(EnterYourDetailsBodyViewModel.IsTrue)}"
        })

        @Html.HiddenFor(model => model.SelectedCategory)
        @Html.HiddenFor(model => model.MoreDetail)
        @Html.Hidden(nameof(Model.IsTrue), "true")
    </fieldset>

    <br />

    <button id="EnterYourDetailsSendButton" class="govuk-button" data-module="govuk-button">
        Send
    </button>
</div>
