@model ConfigurationSetBodyViewModel


<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.LinesOpenText)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.LinesOpenText)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.LinesOpenBuiltString)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.LinesOpenBuiltString)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.LinesOpenString)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.LinesOpenString)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.OpenTimeFrom)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.OpenTimeFrom)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.OpenTimeTo)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.OpenTimeTo)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.WeekdayFrom)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.WeekdayFrom)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.WeekdayTo)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.WeekdayTo)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.OpenDays)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.OpenDays)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.OpenTimesString)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.OpenTimesString)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.OpenTimeFromString)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.OpenTimeFromString)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @Html.DisplayNameFor(model => model.OpenTimeToString)
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(model => model.OpenTimeToString)
        </dd>
    </div>
</dl>
