@model DocumentViewModel

@{
    Layout = "_LocalLayout";

    if (!string.IsNullOrWhiteSpace(Model.HtmlHead?.Title))
    {
        ViewData["Title"] = Model.HtmlHead.Title;
    }
}

<partial name="Breadcrumb" model=@Model.Breadcrumb />

<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#tab-content">
                Content
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#tab-metadata">
                Metadata
            </a>
        </li>
    </ul>
    <div class="govuk-tabs__panel" id="tab-content">
        <partial name="Body" model=@Model.BodyViewModel />
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab-metadata">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.Id)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.PartitionKey)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.PartitionKey)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.Title)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.HtmlHead!.Description)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.HtmlHead!.Description)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.HtmlHead!.Keywords)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.HtmlHead!.Keywords)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.HtmlHead!.Title)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.HtmlHead!.Title)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.HtmlHead!.CanonicalUrl)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.HtmlHead!.CanonicalUrl)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.Url)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.Url)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.LastCached)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.LastCached)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.LastReviewed)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.LastReviewed)
                </dd>
            </div>
        </dl>
    </div>
</div>
